*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* background-color:rgb(18, 18, 245) */
    /* background: url('logo1.png'); */
}

body{
    background-image: url("assets/background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

li,a,button,img{
    font-size: 15px;
    color: rgb(248, 245, 245);
    text-decoration: none;
}

header{
    display: flex;
    /* makes the left and right to the far edges while making the middle in the center */
    justify-content: space-between;
    /* align-items: center; */
    /* adds 30px of padding to top and bottom while adding 10% of that to the sides */
    padding:10px 5%;
    background-color:rgb(44, 44, 46);
    /* background-color:transparent; */
    opacity:0.8;
    
}


.logo{
    font-size: 30px;
}



button{
    padding:9px 25px;
    background-color:rgba(0,136,169,1);
    border:none;
    /* makes the button round permanently*/
    /* border-radius: 50px; */
    cursor:pointer;
    /* transition: all 0.3s ease 0s; */
    margin-right: 5px;
}

button:hover{
    right:0px;
    background-color:rgba(0,136,169,0.8);
    /* border-radius: 50px; */
    transition: all 0.3s ease 0s;
}



img:hover{
    opacity:0.8;
} 


.social_lst {
    /* justify-content: space-between; */
    position:absolute;
    top: 130px;
    left: 400px;

    /* list-style: none;
    display:flex;
    justify-content: space-between; */
}

.social{
    width:9%;
    height:auto;
    margin: 1%;
}

.future-content{
    position:absolute;
    top: 300px;
    left: 470px;
    color: rgb(248, 245, 245);
    text-decoration: none;
}

/* .menu .dropdown-content{
    display:none;
}

.menu div{
    width:25px;
    height:3px;
    background-color:white;
    margin:5px;
}

.menu-content:hover{
    display:flex;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* li a:hover, .menu:hover {
    color: red;
  } */
  
  /* li.menu {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d61515;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color:black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #e20606;}
  
  .menu:hover .dropdown-content {
    display: block;
  } */

/* @media (max-width:375px){
    .cta{
        display:none;
    }
    .menu div{
        width:25px;
        height:3px;
        background-color:white;
        margin:5px;
    }
    .menu-content:hover{
        display:flex;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      } 
    
} */


@media (max-width:375px){
    header a{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }
    header a{
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
}




fieldset{
    width:70%;
    height:auto;
    margin-left: 13%;
    margin-bottom:30px;
}

legend{
    color:white;
}

.current-project-pic{
    width:50%;
    height:auto;
    margin:2%;
}

aside {
    width: 30%;
    /* padding-left: 15px;
    margin-left: 15px; */
    /* margin-right: 5%; */
    margin:2% 5%;
    float: right;
    /* font-style: italic; */
    /* background-color:rgb(44, 44, 46); */
    color:white;
    
  }

aside h3{
    font-size:98%;
}

aside p{
    margin-top: 8%;
}

/* ul{
    margin-left: 17%;
    list-style-type: none;
    width:70%;
    display:flex;
}

.project-lst-item{
    width:70%;
    height:auto;
    padding-bottom: 10px;
}

.open-cv{
    width:90%;
    height:auto;
}

main ul a{
    color: white;
    width:70%;
    height:auto;
    font-size: 25px;
    padding-left:10px;
    margin-bottom:30px;
} */


.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 20%; */
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    /* padding: 20px 50px; */
  }
  
  /* Create four equal columns that sits next to each other */
.column {
  flex: 30%;
  max-width: 25%;
  /* padding: 0 4px; */
  margin: 20px;
}

.column img {
  margin-top: 8px;
  /* vertical-align: middle; */
}


.finished-projects{
    margin-bottom: 30%;
}



