/* ##laptop## */
@media (min-width:1280px){
    header ul{
        list-style-type: none;
        margin:0;
        padding:0;
        background-color:black;
        overflow: hidden;
    }

    header li{
        display:inline;
        
        float:right;
        
    }

    header a{
        text-decoration:none;
        display:block;
        padding:10px;
        color:white;
    }

    .responsive-nav{
        display:none;
    }

    .active{
        background-color:green;
    }

    header a:hover{
        background-color:green;
    }

    body{
        background: url('assets/background.jpg');
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .row{
        display:flex;
        flex-direction:row;
        padding: 10px 30px;
        justify-content: center;
        margin-top: 10%;
    }
    
    .column{
        display:flex;
        flex-direction:column;
        padding: 10px 10px
    }
    
    img{
        width:50px;
        height:auto;
    }

    .social_lst .column{
        background-color: grey;
    }
}


/* ##Responsive iphone X## */
@media (max-width:375px){
    header ul{
        list-style-type: none;
        margin:0;
        padding:0;
        /* background-color:black; */
        overflow: hidden;
    }

    header li{
        display:block;
        width:100%;
        text-decoration: none;
    }

    header a{
        display:block;
        color:white;
        padding:10px;
        padding-left: 35%;
    }

    header li:hover{
        background-color:green;
    }

    .active{
        background-color:green;
    }

    .computer-nav{
        display:none;
    }

    body{
        background: url('assets/background.jpg');
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .row{
        display:flex;
        flex-direction:row;
        padding: 10px 30px;
        justify-content: center;
        margin-top: 10%;
    }
    
    .column{
        display:flex;
        flex-direction:column;
        padding: 10px 30px
    }
    
    img{
        width:50px;
        height:auto;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        /* background-color: grey; */
        width:80%
    }
}


